html{
    scroll-behavior: smooth;
}

.menu{
    background-color: rgba(70,130,180,0.6);
    padding: 2%;
    text-align: center;
}

.itens_menu{
    text-align: center;
    line-height: 2em;
}

.itens_menu a:link, .itens_menu a:visited{
    font-weight: bolder;
    text-decoration: none;
}

.itens_menu a:hover{
    padding: 0.8%;
    background-color: rgba(10, 134, 250, 0.3);
}

.itens_menu a:active {
    color: black;
}

#veja_mais a:link, #veja_mais a:visited{
    color: #FFDEAD;
    font-size: 1.2em;   
}

body{
    background-color: #191970;  
}

h1{
    text-align: center;
    color: #7B68EE;
    font-weight: bolder;
    font-size: 175%;
    padding-bottom: 1%;
}

.img_topo{
    width: 100%;
    height: 80%;   
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
}


.img_corpo{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.direta{
    float: right;
    width: 40%;
    margin-top: 0.5%;
    margin-right: 1%;
}

figure{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em
}

.container{
     width: 80%;
     margin: auto;
}

p{

    font-size: 1.25em;
    text-align: justify;
    text-indent: 35px;
    color: #7B68EE;
    line-height: 2em;
    text-align: center;
}

.parag_letras > p{
    font-size: 1em;
    text-align: center;

}

.botao{
    width: 130px;
    height: 50px;
    background-color: rgba(70,130,180,0.6);
    color: aqua;
    
    text-decoration: none;
}

.botao p{
    padding-top: 9px;
    text-align: center;
}

footer{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(70,130,180,0.6);
}

footer p{
    color: rgb(31, 75, 133);
    font-size: 1em;
    font-weight: bold;
}

.center{
    text-align: center;
}

a:link {
    color: #0000FF;
    text-decoration: none;
}
  
a:visited {
    color: #4169E1;
    text-decoration: none;
}
  
a:hover {
    color: #4682B4;
    text-decoration: underline;
}

a:active {
    color: blue;
    text-decoration: none;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 10px groove #4169E1; 
    padding-top: 1% ;   
    padding-bottom: 1%;
}